<a href="https://colab.research.google.com/github/HLIN30/Python-and-Machine-Learning/blob/master/Bitcoin_Price_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#Description: This program predicts the price of Bitcoin fr the next 30 days

In [0]:
#Import the Libraries
import pandas as pd
import numpy as np

In [4]:
#Load the data
from google.colab import files
uploaded = files.upload()

Saving BTC.csv to BTC.csv

In [10]:
#Store the data into a variable
df = pd.read_csv('BTC.csv')

#Show the first 7 rows of data
df.head(7)

         Date        Close       Volume
0   10/6/2019  7988.155762  13160830305
1   10/7/2019  8245.623047  18009742607
2   10/8/2019  8228.783203  15592264032
3   10/9/2019  8595.740234  19384942333
4  10/10/2019  8586.473633  17618660671
5  10/11/2019  8321.756836  19604381101
6  10/12/2019  8336.555664  14532641604

In [0]:
#Remove the Date column
df.drop(['Date'],1,inplace=True)

In [12]:
df.head(7)

         Close       Volume
0  7988.155762  13160830305
1  8245.623047  18009742607
2  8228.783203  15592264032
3  8595.740234  19384942333
4  8586.473633  17618660671
5  8321.756836  19604381101
6  8336.555664  14532641604

In [0]:
#Remove the Volume column
df.drop(['Volume'],1,inplace=True)

In [14]:
df.head(7)

         Close
0  7988.155762
1  8245.623047
2  8228.783203
3  8595.740234
4  8586.473633
5  8321.756836
6  8336.555664

In [0]:
#A variable for predicting 'n' days out into the future
prediction_days = 30 #n = prediction_days = 30

#Create another column shifted 'n units up
df['Prediction'] = df[['Close']].shift(-prediction_days)

In [17]:
#Show the first 7 rows of the new data set
df.head(7)

         Close   Prediction
0  7988.155762  9342.527344
1  8245.623047  9360.879883
2  8228.783203  9267.561523
3  8595.740234  8804.880859
4  8586.473633  8813.582031
5  8321.756836  9055.526367
6  8336.555664  8757.788086

In [18]:
#Show the last 7 rows of the new data set
df.tail(7)

          Close  Prediction
86  7193.599121         NaN
87  7200.174316         NaN
88  6985.470215         NaN
89  7344.884277         NaN
90  7410.656738         NaN
91  7411.317383         NaN
92  7579.679199         NaN

In [20]:
#Create the independent data set

#Convert the dataframe to a numpy array and drop the prediction columnn
X = np.array(df.drop(['Prediction'],1))

#Remove the last 'n' rows where 'n' is the prediction_days
X = X[:len(df)-prediction_days]

print(X)

[[7988.155762]
 [8245.623047]
 [8228.783203]
 [8595.740234]
 [8586.473633]
 [8321.756836]
 [8336.555664]
 [8321.005859]
 [8374.686523]
 [8205.369141]
 [8047.526855]
 [8103.911133]
 [7973.20752 ]
 [7988.560547]
 [8222.078125]
 [8243.720703]
 [8078.203125]
 [7514.671875]
 [7493.48877 ]
 [8660.700195]
 [9244.972656]
 [9551.714844]
 [9256.148438]
 [9427.6875  ]
 [9205.726563]
 [9199.584961]
 [9261.104492]
 [9324.717773]
 [9235.354492]
 [9412.612305]
 [9342.527344]
 [9360.879883]
 [9267.561523]
 [8804.880859]
 [8813.582031]
 [9055.526367]
 [8757.788086]
 [8815.662109]
 [8808.262695]
 [8708.094727]
 [8491.992188]
 [8550.760742]
 [8577.975586]
 [8309.286133]
 [8206.145508]
 [8027.268066]
 [7642.75    ]
 [7296.577637]
 [7397.796875]
 [7047.916992]
 [7146.133789]
 [7218.371094]
 [7531.663574]
 [7463.105957]
 [7761.243652]
 [7569.629883]
 [7424.29248 ]
 [7321.988281]
 [7320.145508]
 [7252.034668]
 [7448.307617]
 [7546.996582]
 [7556.237793]]

In [21]:
#Create the dependent data set

#Convert the dataframe to a numpy array
y = np.array( df['Prediction'])

#Get all of the values except the last 'n' rows
y = y[:-prediction_days]
print(y)

[9342.527344 9360.879883 9267.561523 8804.880859 8813.582031 9055.526367
 8757.788086 8815.662109 8808.262695 8708.094727 8491.992188 8550.760742
 8577.975586 8309.286133 8206.145508 8027.268066 7642.75     7296.577637
 7397.796875 7047.916992 7146.133789 7218.371094 7531.663574 7463.105957
 7761.243652 7569.629883 7424.29248  7321.988281 7320.145508 7252.034668
 7448.307617 7546.996582 7556.237793 7564.345215 7400.899414 7278.119629
 7217.427246 7243.134277 7269.68457  7124.673828 7152.301758 6932.480469
 6640.515137 7276.802734 7202.844238 7218.816406 7191.158691 7511.588867
 7355.628418 7322.532227 7275.155762 7238.966797 7290.088379 7317.990234
 7422.652832 7292.995117 7193.599121 7200.174316 6985.470215 7344.884277
 7410.656738 7411.317383 7579.679199]

In [0]:
#Split the data into 80% training and 20% testing
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X,y, test_size = 0.2)

In [23]:
#Set the prediction_days_array equal to the last 30 rows from the original data set
prediction_days_array = np.array(df.drop(['Prediction'],1))[-prediction_days:]
print(prediction_days_array)

[[7564.345215]
 [7400.899414]
 [7278.119629]
 [7217.427246]
 [7243.134277]
 [7269.68457 ]
 [7124.673828]
 [7152.301758]
 [6932.480469]
 [6640.515137]
 [7276.802734]
 [7202.844238]
 [7218.816406]
 [7191.158691]
 [7511.588867]
 [7355.628418]
 [7322.532227]
 [7275.155762]
 [7238.966797]
 [7290.088379]
 [7317.990234]
 [7422.652832]
 [7292.995117]
 [7193.599121]
 [7200.174316]
 [6985.470215]
 [7344.884277]
 [7410.656738]
 [7411.317383]
 [7579.679199]]

In [26]:
from sklearn.svm import SVR

#Create and train the Support Vector Machine (Regression) using radial basis function
svr_rbf = SVR(kernel='rbf', C=1e3, gamma=0.00001)
svr_rbf.fit(x_train, y_train)

SVR(C=1000.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma=1e-05,
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [27]:
#Test the model
svr_rbf_confidence = svr_rbf.score(x_test, y_test)
print("svr_rbf accuracy: ", svr_rbf_confidence)

svr_rbf accuracy:  0.23496479808329795

In [28]:
#Print the predicted values
svm_prediction = svr_rbf.predict(x_test)
print(svm_prediction)

print()

#Print the actual values
print(y_test)

[7763.75729841 7184.04289957 7870.89931944 7276.87097594 7824.47763168
 7821.51886949 7332.76797399 8468.2685357  8182.64912663 8442.78620071
 7333.80927738 7208.01965238 7622.06953508]

[8757.788086 6640.515137 7276.802734 7243.134277 8815.662109 9055.526367
 7322.532227 7642.75     9267.561523 8491.992188 7463.105957 6932.480469
 8808.262695]

In [30]:
# Print the model predictions for the next 'n=30' days
svm_prediction = svr_rbf.predict(prediction_days_array)
print(svm_prediction)

print()

#Print the actual price for Bitcoin for the last 30 days
print(df.tail(prediction_days))

[7295.68308706 7327.49074234 7273.77567515 7261.36820096 7264.11138322
 7270.89231879 7284.75598512 7272.69463074 7410.09123002 7480.45094125
 7273.30491841 7261.62859704 7261.41307563 7262.80415674 7322.09460143
 7309.0658932  7293.00024611 7272.72665339 7263.39778712 7278.37278247
 7290.82219459 7332.98584122 7279.56873504 7262.48781485 7261.82146563
 7376.69899875 7303.90297638 7330.29738789 7330.46805673 7287.77393677]

          Close  Prediction
63  7564.345215         NaN
64  7400.899414         NaN
65  7278.119629         NaN
66  7217.427246         NaN
67  7243.134277         NaN
68  7269.684570         NaN
69  7124.673828         NaN
70  7152.301758         NaN
71  6932.480469         NaN
72  6640.515137         NaN
73  7276.802734         NaN
74  7202.844238         NaN
75  7218.816406         NaN
76  7191.158691         NaN
77  7511.588867         NaN
78  7355.628418         NaN
79  7322.532227         NaN
80  7275.155762         NaN
81  7238.966797         NaN
82  7290.088379         NaN
83  7317.990234         NaN
84  7422.652832         NaN
85  7292.995117         NaN
86  7193.599121         NaN
87  7200.174316         NaN
88  6985.470215         NaN
89  7344.884277         NaN
90  7410.656738         NaN
91  7411.317383         NaN
92  7579.679199         NaN